<div class="container"> 
        <div> 
            <h4 style="text-align: center;padding-bottom: 30px;">Raise Invoice</h4>
    
            <form [formGroup] ="invoiceForm" autocomplete="off" class="form-horizontal">
                <div class="form-group"> 
                        <div class="row">
                                <div class="col">
                                        <input type="text" class="form-control" id="invoiceNumber" placeholder="Invoice Number" formControlName="invoiceNumber">
                                </div> 
                                <div class="col">
                                        <input type="text" class="form-control" id="issueDate" placeholder="Issue Date" formControlName="issueDate">
                                </div>
                        </div>                     
                    </div>
                    <div class="form-group"> 
                            <div class="row">
                                    <div class="col">
                                            <input type="text" class="form-control" id="partner" placeholder="Partner" formControlName="partner">
                                    </div> 
                                    <div class="col">
                                         <input type="text" class="form-control" id="contact" placeholder="Contact" formControlName="contact">
                                    </div>
                            </div>                     
                        </div>
                    <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Email" formControlName="email">                           
                    </div>               
                    <button type="submit" style="margin-left: 40%" class="btn btn-success" [disabled]= "!registerForm.valid" 
                    (click) = "onGenerate()">Generate Invoice</button> 
              
            </form>                
        </div>
    </div>
       